.character {
	width: 250px;
	height: 350px;
	background-color: red;
	margin: 20px;
}
.marvel-char {
    width: 250px;
	height: 300px;
}
.marvel-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
