.marvel-link {
	width: 100%;
	height: 100%;
	box-shadow: 7px 7px black;
}
.carousel-js {
	text-align: center;
}
.dc-link {
	width: 100%;
	height: 100%;
	box-shadow: 7px 7px black;
}
.marvel-link-container {
	width: 45%;
	height: 45%;
	flex: 1;
	margin-right: 25px;
}
.dc-link-container {
	width: 45%;
	height: 45%;
	flex: 1;
	margin-left: 25px;
	border: 1px solid black;
}

.home-links {
	display: flex;
	margin-top: 70px;
	flex-direction: row;
}

.home-container {
	text-align: center;
	margin-bottom: 200px;
}
.home-image {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.carousel-js{
	
}

@media (max-width: 700px) {
	.home-links {
		flex-direction: column;
		text-align: center;
	}

	.dc-link-container {
		width: 100%;
		height: 100%;
		margin: 30px auto;
		margin-left: 0;
	}

	.marvel-link-container {
		width: 100%;
		height: 100%;
		margin-right: 0;
	}
}
