.lisha-logo {
	width: 100px;
	margin-left: 15px;
	margin-bottom: 7px;
}


.footer{
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid grey;
}
.comic-geek{
    font-weight: bold;
    color: #ff0d40;
}

.top-line{
    margin-top: 7px;
}
